.icon-accessory-configurator::before {
    content: '\e93c'
}

.icon-accessory-shop::before {
    content: '\e93e'
}

.icon-accessory-showroom::before {
    content: '\e93f'
}

.icon-business-drive-calculator::before {
    content: '\e940'
}

.icon-configurator::before {
    content: '\e941'
}

.icon-connected-drive-store::before {
    content: '\e942'
}

.icon-dealer-locator::before {
    content: '\e943'
}

.icon-electrical-parts-catalogue::before {
    content: '\e944'
}

.icon-insurance-calculator::before {
    content: '\e945'
}

.icon-online-appointment-scheduling::before {
    content: '\e947'
}

.icon-online-manual-bmw::before {
    content: '\e948'
}

.icon-price-list::before {
    content: '\e949'
}

.icon-private-leasing-calculator::before {
    content: '\e94a'
}

.icon-request-for-contact::before {
    content: '\e94b'
}

.icon-request-for-offer::before {
    content: '\e94c'
}

.icon-search2::before {
    content: '\e94d'
}

.icon-software-update::before {
    content: '\e94e'
}

.icon-stay-informed::before {
    content: '\e94f'
}

.icon-test-drive-appointment::before {
    content: '\e950'
}

.icon-user::before {
    content: '\e951'
}

.icon-close-roof2::before {
    content: '\e933'
}

.icon-open-roof2::before {
    content: '\e934'
}

.icon-youtube::before {
    content: '\e939'
}

.icon-facebook::before {
    content: '\e93d'
}

.icon-instagram::before {
    content: '\e937'
}

.icon-twitter::before {
    content: '\e938'
}

.icon-grid-view::before {
    color: #4d4d4d;
    content: '\e93a'
}

.icon-360::before {
    content: '\e93b'
}

.icon-close-roof::before {
    content: '\e935'
}

.icon-open-roof::before {
    content: '\e936'
}

.icon-arrow-m-right::before {
    content: '\e90c'
}

.icon-arrow-m-left::before {
    content: '\e90d'
}

.icon-arrow-m-down::before {
    content: '\e90e'
}

.icon-arrow-m-top::before {
    content: '\e90f'
}

.icon-checkmark::before {
    content: '\e909'
}

.icon-close-x::before {
    content: '\e90a'
}

.icon-info-i::before {
    content: '\e90b'
}

.icon-data-collect2::before {
    content: '\e910'
}

.icon-change-data2::before {
    content: '\e911'
}

.icon-contact-rights2::before {
    content: '\e912'
}

.icon-data-security2::before {
    content: '\e913'
}

.icon-data-usage2::before {
    content: '\e914'
}

.icon-how-we-collect2::before {
    content: '\e915'
}

.icon-keep-info2::before {
    content: '\e916'
}

.icon-share-data2::before {
    content: '\e917'
}

.icon-what-companies2::before {
    content: '\e918'
}

.icon-finance-lease-2::before {
    content: '\e919'
}

.icon-finance-lease::before {
    content: '\e91a'
}

.icon-individual::before {
    content: '\e91b'
}

.icon-location::before {
    content: '\e91c'
}

.icon-mybmw::before {
    content: '\e91d'
}

.icon-needanalyzer::before {
    content: '\e91e'
}

.icon-offers::before {
    content: '\e91f'
}

.icon-preownedsearch::before {
    content: '\e920'
}

.icon-shop::before {
    content: '\e921'
}

.icon-techhub::before {
    content: '\e922'
}

.icon-technologies::before {
    content: '\e923'
}

.icon-teilekatalog::before {
    content: '\e924'
}

.icon-contact::before {
    content: '\e925'
}

.icon-connected-drive::before {
    content: '\e926'
}

.icon-calender::before {
    content: '\e928'
}

.icon-configurator-2::before {
    content: '\e929'
}

.icon-search::before {
    content: '\e930'
}

.icon-arrow-down::before {
    color: #bbb;
    content: '\e92a'
}

.icon-arrow-left::before {
    color: #bbb;
    content: '\e92b'
}

.icon-arrow-right::before {
    color: #bbb;
    content: '\e92c'
}

.icon-arrow-up::before {
    color: #bbb;
    content: '\e92d'
}

.icon-drag-icon::before {
    color: #bbb;
    content: '\e92e'
}

.icon-profile::before {
    content: '\e92f'
}

.icon-shopping-bag::before {
    content: '\e931'
}

.icon-burger-menu::before {
    content: '\e932'
}

.icon-data-collect::before {
    content: '\e908'
}

.icon-change-data::before {
    content: '\e900'
}

.icon-contact-rights::before {
    content: '\e901'
}

.icon-data-security::before {
    content: '\e902'
}

.icon-data-usage::before {
    content: '\e903'
}

.icon-how-we-collect::before {
    content: '\e904'
}

.icon-keep-info::before {
    content: '\e905'
}

.icon-share-data::before {
    content: '\e906'
}

.icon-what-companies::before {
    content: '\e907'
}

.icon-need-analyzer::before {
    content: '\e91e'
}

.icon-pre-owned-search::before {
    content: '\e920'
}

.icon-stock-car-locator::before {
    content: '\e959'
}

.icon-request-for-accessories::before {
    content: '\e955'
}

.icon-data-sheet-download::before {
    content: '\e952'
}

.icon-request-for-information::before {
    content: '\e956'
}

.icon-request-for-service-appointment::before {
    content: '\e957'
}

.icon-service-package-finder::before {
    content: '\e958'
}

.fa-line-jp::before {
    content: "\f3c0";
}