$BMW-font-Light: "BMWTypeNext-Light";
$BMW-font-Regular: "BMWTypeNext-Regular";
$BMW-font-Bold: "BMWTypeNext-Bold";
$litegray:#e8e8e8;
$BMW-Blue: #1c69d4;
$BMW-Blue-hover:#0653b6;
$BMW-grey: #666666;
$BMW-grey-hover:#4d4d4d;
$BMW-grey-lines: #e6e6e6;
$BMW-grey-links: #666666;
$BMW-grey-inactive: #bbbbbb;
$header-grey: #8e8e8e;
$footer-grey:#e6e6e6;
$bg: #fff;
$bg-light-grey:#f2f2f2;
$abs:absolute;
$headline-color:#262626;
$error: #d20000;
$success: #3db014;


$cta-font: 18px;
$font-size-p:14px; 

// Footer Variables
$footer-bg-color: #8e8e8e;
$footer-txt-color: #fff;
$footer-font-size: 14px;


$MINI-font-SansSerif-Reg:"MINI_SansSerif-Reg";
$MINI-font-SansSerif-Bold:"MINI_SansSerif-Bold";
$MINI-font-Serif-Reg:"MINI_Serif-Reg";
$MINI-font-Serif-Bold:"MINI_Serif-Bold";
$MINI-font-Serif-Ita:"MINI_Serif-Ita";

$BMW-font-Pro: "BMWTypeNext Pro";

$brand-primary: #0085ac;
$brand-secondary: #000000;
$gray-light:  #fff; 
$gray-base: #f1f1f1;
$gray-dark: #000;
$font-size-base:14px;
 

:root {
	--BMW-font-Bold : "BMWTypeGlobalPro-Bold";
    --BMW-font-Light: "BMW Type Web Light All";
}

 
